<section class="row py-4">
  <div class="col-lg-8">
    <h2>Welcome <%= username %>, you have <i><%= snails %></i> snails !</h2>
  </div>

  <div class="col-lg-4">
    <a href="/logout" class="btn btn-danger">Logout</a>
  </div>
</section>
