<table class="table">
  <thead>
    <th>Trade</th>
    <th>Dealer</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
  </thead>
  <tbody id="purchase-history-table-body">
  </tbody>
</table>
