<html>

<%- include partials/head.ejs %>

<body>
  <div class="container">

    <%- include partials/user_login_head.ejs %>

    <a class="my-2 btn btn-primary" href="/market">Market</a>

    <div class="row">
      <div class="p-4 border border-default col">

        <!-- Add an item to the user's store-->
        <form id="form-store-add-item" onsubmit="storeAddItem(); return false;">
          <div class="form-group row">
            <label for="product_name">Name: </label>
            <input type="text" id="product_name" name="name">
          </div>
          <div class="form-group row">
            <label for="product_desc">Description:</label>
            <input type="text" id="product_desc" name="desc">
          </div>
          <div class="form-group row">
            <label for="product_price">Price:</label>
            <input type="number" id="product_price" name="price">
          </div>

          <button name="add_item" type="submit" value="Add item">Add Item</button>
          <button name="clear" type="reset">Clear</button>
        </form>

      </div>

      <!-- Request some tokens -->
      <div class="p-4 border border-default col">
        <form id="form-request-tokens" onsubmit="requestTokens(); return false;" method="post">
          <div class="form-group row">
            <input id="token_count" type="number" name="token_count" placeholder="No. of tokens">
          </div>

          <button name="req_tokens" type="submit" value="Request Tokens">Request Tokens</button>
        </form>
      </div>

    </div>

    <div class="row">

      <section id="my-store" class="col">
        <div class="m-3 p-2 border border-info">
        <h4>Store</h4>
        <%- include partials/store_items.ejs %>
      </div>
      </section>

      <section id="purchase-history-section" class="col">
        <div class="m-3 p-2 border border-success">
        <h4>Purchase History</h4>
        <%- include partials/purchase_history.ejs %>
      </div>
      </section>

    </div>

  </div>

  <script type="text/javascript" src="js/user.js"></script>

</body>

</html>
