<!DOCTYPE html>
<html>
<%- include partials/head.ejs %>
<body>
  <main class="container">
    <h1 class="py-3">Anarik - P2P ecommerce</h1>
    <div>
      <div class="row">
        <div class="border border-primary p-4 m-2 col-lg-6 col-md-6 col-sm-12">
          <form action="/login" method="post">
            <div class="row">
              <div>
                <label>Name:</label>
                <input type="text" id="l_username" name="l_username">
              </div>
            </div>
            <div class="row">
              <div>
                <label>Password:</label>
                <input type="password" id="l_password" name="l_password" >
              </div>
            </div>
            <div class="row">
              <div>
                <input type="submit" class="btn btn-primary" value="login">
              </div>
            </div>
          </form>
        </div>
        <div class="border border-secondary p-4 m-2 col-lg-6 col-md-6 col-sm-12">

          <form action="/user" method="post" onsubmit="validateCreds(event)">
            <div class="row">
              <div>
                <label>Name:</label>
                <input type="text" id="s_username" name="s_username">
              </div>
            </div>
            <div class="row">
              <div>
                <label>Password:</label>
                <input type="password" id="s_password" name="s_password" >
              </div>
            </div>
            <div class="row">
              <div>
                <label>Confirm Password:</label>
                <input type="password" id="s_cpassword" name="s_cpassword" >
              </div>
            </div>
            <div class="row">
              <div>
                <input type="submit" class="btn btn-primary" value="signup">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
